.lqTop {
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  margin-top: 16px;

  .lqTop-top {
    height: 105px;
    border: 1px solid;
    position: relative;

    border-color: #e6e2e1 #e6e2e1 #d1ccc7;

    .lqTop-top-placard {
      height: 65px;
      border: 2px solid #d1ccc7;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .lqTop-top-placard-item1 {
        width: 135px;
        z-index: 2;
        font-size: 12px;
        height: 70px;

        p {
          margin: 7px 0;
          text-indent: 13px;
          color: #b0a59f;
        }
      }

      .lqTop-top-placard-item2 {
        display: flex;
        width: 932px;
        .lqTop-top-placard-item2-box {
          width: 105px;
          height: 50px;
          border: 1px solid #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 80px;
            height: 40px;
          }
        }
      }

      .lqTop-top-placard-item3 {
        width: 110px;
        height: 70px;
        .lqTop-top-placard-item3-img1 {
          margin-top: 6px;
          margin-right: 8px;
          margin-left: 6px;
        }
      }
    }

    .lqTop-top-sort {
      display: flex;
      justify-content: space-between;
      .lqTop-top-sort-item1 {
        width: 125px;
        img {
          margin-left: 7px;
          margin-top: 8px;
        }
      }

      .lqTop-top-sort-item2 {
        width: 853px;
        height: 35px;
        display: flex;
        align-items: center;
        margin-left: -173px;
        p {
          margin: 0;
          font-weight: 400;
          color: #806f66;
          cursor: pointer;
          text-indent: 2em;
          &:hover {
            color: red;
          }
        }
      }

      .lqTop-top-sort-item3 {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }

    .lqTop-top-background {
      position: absolute;
      width: 120px;
      height: 105px;
      background-color: #f7f5f5;
      background-size: 105px 50px;
      top: 0;
      z-index: -1;
    }
  }

  .lqTop-top-nav {
    width: 1200px;
    height: 34px;
    background: #faf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    img {
      cursor: pointer;
    }
  }
}
