/*公共样式*/
.flex {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid gray; */
}
.p1 {
  font-family: arial;
  font-weight: 400;
  font-size: 20px;
  color: #ff0036;
  margin-left: 15px;
}
.p2 {
  color: black;
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px;
}
.p2:hover {
  color: #ff0036;
  text-decoration: underline;
}
.p3 {
  width: 300px;
  float: left;
  line-height: 20px;
  height: 20px;
  max-width: 144px;
  color: #999;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 15px;
}
.p3:hover {
  color: #ff0036;
  text-decoration: underline;
}
.p4 {
  color: #999999;
  white-space: nowrap;
  font-size: 12px;
  float: left;
  margin-left: 15px;
}
.biankuang {
  width: 200px;
  height: 370px;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 28px;
}
.qian {
  color: #ff0036;
  font-size: 14px;
  margin: 0px 2px 0px 0px;
}
.wunan-wrap {
  width: 1200px;
  height: 1274px;
  margin: 0 auto;
}
